.rosten .bbs {
	width: 980px;
	margin: 0 auto;
	clear: both;
	min-height: 300px;
	_height: 300px;
	padding-top: 8px;
	padding-bottom: 5px;
	clear: both;
	min-height: 300px;
	_height: 300px;
	padding-top: 8px;
}

.rosten .bbs  .newspage {
	margin: 20px auto;
	width: 832px;
}

.rosten .bbs  .newspagebg {
	width: 796px;
	margin: 0 auto;
	padding-bottom: 30px;
	border-left: 1px solid #D8D7D7;
	border-right: 1px solid #D8D7D7;
	border-bottom: 1px solid #D8D7D7;
	border-top: 1px solid #D8D7D7;
}

.rosten .bbs  .newspage .title {
	width: 100%;
}

.rosten .bbs  .newspage .title h3 {
	font-size: 22px;
	font-weight: bold;
	width: 90%;
	padding: 20px 0 10px 0;
	text-align: center;
	margin: 0 auto;
	color: #2F2727;
	background: url(../../images/rosten/share/newscont_titlebg.gif)
		no-repeat left bottom;
}

.rosten .bbs  .newspage .title h4 {
	font-weight: normal;
	width: 90%;
	margin: 5px auto;
	padding: 5px 0;
	text-align: center;
	color: #000;
	border-bottom: 1px solid #ccc;
}

.rosten .bbs  .newspage .title h4 span {
	padding-right: 10px;
}

.rosten .bbs  .newspage .newcont {
	padding: 10px 0;
	width: 90%;
	margin: 10px auto;
	min-height: 400px;
	_height: 400px;
	font-size: 16px !important;
	font-family: 宋体 !important;
	line-height: 180% !important;
}

.rosten .bbs  .newspage .newcont * {
	font-size: 16px !important;
	font-family: 宋体 !important;
	line-height: 180% !important;
}

.rosten .bbs  .newspage table {
	width: 98% !important;
}

.rosten .bbs  .newspage img {
	border: 0;
	max-width: 550px;
	width: expression(width > 550 ? "550px" : "px");
	overflow: auto;
}

.rosten .bbs  .newspage .download {
	width: 90%;
	margin: 5px auto;
	text-align: left
}

.rosten .bbs  .newspage .newsbar {
	width: 97%;
	margin: 0 auto;
	height: 20px;
	border-top: 1px solid #911C11;
	/*background: #EDEEF1;*/
	text-align: center;
	padding-top: 5px;
}

.rosten .bbs  .newspage .newsbar button {
	margin-right: 40px;
	margin-top: 7px;
	display: inline;
}

.rosten .flowLog table {
	width: 100%;
	border-collapse: collapse;
}

.rosten .flowLog table th,.rosten .flowLog table td {
	border: 1px dotted #828282;
	border-width: 1px 0;
	text-align: left;
	padding: .5em .4em;
	line-height: 1.6;
	color: #222;
}

.rosten .flowLog table th {
	border-right: 1px dotted #828282;
	width: 100px;
	text-align: center;
	color: #777;
}
/*意见显示 */
.rosten .commentLog .title-nav { margin:1em auto; height:26px; line-height:26px; border-bottom:1px solid #b0cadf; }
.rosten .commentLog .title-nav h3 { float:left; width:45%;margin:0px }
.rosten .commentLog .title-nav h3 span { font-weight:bold; color:#2b92ec; font-size:14px; padding-left:5px; }
.rosten .commentLog .title-nav h3 em { margin:0 0px 0 14px; font-weight:normal; color:#555; }
.rosten .commentLog .title-nav h3 em cite { display:inline-block; width:12px; height:12px; border:1px solid #ccc; font-size:0; background:#eee; margin-right:3px; }
.rosten .commentLog .title-nav h3 em.bg-ysb { color:#3684f9; }
.rosten .commentLog .title-nav h3 em.bg-kbj { color:#23be09; }
.rosten .commentLog .title-nav h3 em.bg-ysb cite { background:#d9e9ff; border-color:#b2cbee; }
.rosten .commentLog .title-nav h3 em.bg-kbj cite { background:#92e190; border-color:#6ecb6b; }
.rosten .commentLog .title-nav h3 em.bg-wkf cite { background:#eee; }
.rosten .commentLog .title-nav h4 { float:right; width:45%; text-align:right; margin:0px}
.rosten .commentLog .title-nav h4 a { height:22px; line-height:22px; padding:0 .5em; color:#fff; background:#4786dd; display:inline-block; margin:0 3px; }
.rosten .commentLog .title-nav h4 a:hover { background:#165cbe; color:#fff; }

/*意见列表*/
.rosten .commentLog .rz-list { border-bottom:1px dotted #ccc; margin:2px 0 13px; }
.rosten .commentLog .rz-list-cur { background:#f3f7fe; }
.rosten .commentLog .rz-list h3 { font-weight:bold; }
.rosten .commentLog .rz-list .rz-list-con { line-height:1.6; color:#555; padding-left:2em; min-height:60px; _height:60px; margin-top:5px;}
.rosten .commentLog .rz-list h5 { height:15px; line-height:15px; text-align:right; }
.rosten .commentLog .rz-list h5 a { margin:0 .6em; color:#06F; display:none; }
.rosten .commentLog .rz-list-cur h5 a { display:inline; font-weight:normal; }
.rosten .commentLog .rz-list-edit { padding:.2em; display:none; }
.rosten .commentLog .rz-list-edit textarea { width:99%; overflow:auto; border:1px solid #ccc; height:70px; padding:2px; font-size:12px; }
.rosten .commentLog .rz-list-edit-tool { padding:.3em .12em .2em 0; text-align:right; }


