.rosten .bbs {
	width: 980px;
	margin: 0 auto;
	clear: both;
	min-height: 300px;
	_height: 300px;
	padding-top: 8px;
	padding-bottom: 5px;
	clear: both;
	min-height: 300px;
	_height: 300px;
	padding-top: 8px;
}

.rosten .bbs  .newspage {
	margin: 20px auto;
	width: 832px;
	padding-top: 30px;
}

.rosten .bbs  .newspagebg {
	width: 796px;
	margin: 0 auto;
	padding-bottom: 30px;
	border-left: 1px solid #D8D7D7;
	border-right: 1px solid #D8D7D7;
	border-bottom: 1px solid #D8D7D7;
	border-top:1px solid #D8D7D7;
}

.rosten .bbs  .newspage .title {
	width: 100%;
}

.rosten .bbs  .newspage .title h3 {
	font-size: 22px;
	font-weight: bold;
	width: 90%;
	padding: 20px 0 10px 0;
	text-align: center;
	margin: 0 auto;
	color: #2F2727;
	background: url(../../images/rosten/share/newscont_titlebg.gif) no-repeat left
		bottom;
}

.rosten .bbs  .newspage .title h4 {
	font-weight: normal;
	width: 90%;
	margin: 5px auto;
	padding: 5px 0;
	text-align: center;
	color: #000;
	border-bottom: 1px solid #ccc;
}

.rosten .bbs  .newspage .title h4 span {
	padding-right: 10px;
}

.rosten .bbs  .newspage .newcont {
	padding: 10px 0;
	width: 90%;
	margin: 10px auto;
	min-height: 400px;
	_height: 400px;
	font-size: 16px !important;
	font-family: 宋体 !important;
	line-height: 180% !important;
}

.rosten .bbs  .newspage .newcont * {
	font-size: 16px !important;
	font-family: 宋体 !important;
	line-height: 180% !important;
}

.rosten .bbs  .newspage table {
	width: 98% !important;
}

.rosten .bbs  .newspage img {
	border: 0;
	max-width: 550px;
	width: expression(width > 550 ? "550px" : "px");
	overflow: auto;
}

.rosten .bbs  .newspage .download {
	width: 90%;
	margin: 5px auto;
	text-align: left
}

.rosten .bbs  .newspage .newsbar {
	width: 97%;
	margin: 0 auto;
	height: 20px;
	border-top: 1px solid #911C11;
	/*background: #EDEEF1;*/
	text-align:center;
	padding-top:5px;
}

.rosten .bbs  .newspage .newsbar button {
	margin-right: 40px;
	margin-top: 7px;
	display: inline;
}